<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint
        address="http://localhost:8989/UpdaterURI"
        binding="wsHttpBinding"
        contract="MyLib.IRemoteUpdate"
        name="WSHttpBinding_IRemoteUpdate" />
    </client>
  </system.serviceModel>
</configuration>